{% extends 'base.html' %}

{% block header %}
<script>
    // import value from flask
    const weatherData = JSON.parse("{{ weather|safe }}".replace(/'/g, '"'));
    const results = JSON.parse("{{ results|safe }}".replace(/'/g, '"'));
    const province = "{{ province }}";

    // once the page is loaded successfully
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector('#location').innerHTML = `${weatherData.data.city}, Thailand`;
        document.querySelector('#weatherHead').innerHTML = weatherData.data.current.weather.tp;
        document.querySelector('#unit').innerHTML = "°C";
        document.querySelector('#humidity').innerHTML = `Humidity: ${weatherData.data.current.weather.hu}%`;
        document.querySelector('#pressure').innerHTML = `Pressure: ${weatherData.data.current.weather.pr} hPa`;
        document.querySelector('#windSpeed').innerHTML = `Wind Speed: ${weatherData.data.current.weather.ws} m/s`;
        document.querySelector('#windDirection').innerHTML = `Wind Direction: ${weatherData.data.current.weather.wd}°`;

        // get icon value from weatherData and get icon value from ic
        // and do the if-else condition for icon selection
        const weatherStatus = weatherData.data.current.weather.ic;
        const aqius = weatherData.data.current.pollution.aqius;
        var icon = document.querySelector('#icon');
        
        function defineIconSky() {
            switch (weatherStatus) {
                // for clear sky day
                case "01d":
                case "02d":
                    icon.src = "{{url_for('static', filename='weather/01d.png')}}";
                    break;
                // for clear sky night
                case "01n":
                case "02n":
                    icon.src = "{{url_for('static', filename='weather/01n.png')}}";
                    break;
                // for cloudy day
                case "02d":
                case "03d":
                case "04d":
                    icon.src = "{{url_for('static', filename='weather/0234d.png')}}";
                    break;
                // for cloudy night
                case "02n":
                case "03n":
                case "04n":
                    icon.src = "{{url_for('static', filename='weather/0234n.png')}}";
                    break;
                // for rainy day
                case "09d":
                case "10d":
                    icon.src = "{{url_for('static', filename='weather/910d.png')}}";
                    break;
                // for rainy night
                case "09n":
                case "10n":
                    icon.src = "{{url_for('static', filename='weather/910n.png')}}";
                    break;
                    // for thunderstorm
                case "11d":
                    icon.src = "{{url_for('static', filename='weather/11d.png')}}"
                    break;
            }
        }

        function defineIconAir() {
            switch (aqius) {
                case (aqius < 51):
                    // Good - Green
                    break;
                case (50 < aqius < 101 ):
                    // Moderate - Yellow
                    break;
                case (100 < aqius < 151):
                    // Unhealty for Sensitive Groups - Orange
                    break;
                case (150 < aqius < 201):
                    // Unhealty - Red
                    break;
                case (200 < aqius < 301):
                    // Very Unhealty - Purple
                    break;
                case (aqius > 300):
                    // Hazardous - Maroon
                    break;
            }
        }

        defineIconSky();

        // Add handlers for both buttons
        document.querySelector('#weatherBtn').onclick = function() {
            document.querySelector('#weatherHead').innerHTML = weatherData.data.current.weather.tp;
            document.querySelector('#unit').innerHTML = "°C";
            defineIconSky();
        }
        document.querySelector('#aqiBtn').onclick = function() {
            document.querySelector('#weatherHead').innerHTML = weatherData.data.current.pollution.aqius;
            document.querySelector('#unit').innerHTML = "AQI";
            defineIconAir();
    } 
    });
</script>
{% endblock %}

{% block content %}
    <div class="relative w-full h-full flex flex-col text-black p-15 bg-white-500 bg-[url({{url_for('static',filename='img/sunny.jpg')}})] bg-blend-lighten bg-center bg-cover">
        <div class="flex justify-center items-center mb-4">
            <form method="POST" class="flex p-4 items-center justify-center w-150 bg-white rounded-4xl">
                <input name="province" value="{{ province }}" placeholder="ใส่ชื่อสถานที่..." class="w-full"/>
                <button type="submit" class="w-20">ค้นหา</button>
            </form>
        </div>
        <div class="text-bold text-xl font-[Gabarito] mb-4">
            <div class="text-bold text-xl font-[Gabarito] mb-4">
                <button id="weatherBtn" type="submit" name="page" class="font-bold hover:text-white duration-200">Weather</button> |
                <button id="aqiBtn" type="submit" name="page" class="hover:text-white duration-200">Air Quality</button>
            </div>
        </div>
        <div class="flex w-auto">
            <div class="flex">
                <img id="icon" src="{{url_for('static',filename='img/sun.png')}}" alt="sunny" class="size-48 mb-4 p-5">
                <div class="flex flex-col">
                    <div id="location" class="font-[Gabarito] text-4xl font-bold">Province</div>
                    <div class="flex">
                        <div id="weatherHead" class="flex font-[Gabarito] text-6xl font-bold"></div>
                        <div id="unit" class="font-[Gabarito] text-xl font-thin">°C</div>
                    </div>
                    <div class="flex flex-col">
                        <div id="humidity" class="font-[Gabarito]">Humidity: N/A%</div>
                        <div id="pressure" class="font-[Gabarito]">Pressure: N/A hPa</div>
                        <div id="windSpeed" class="font-[Gabarito]">Wind Speed: N/A m/s</div>
                        <div id="windDirection" class="font-[Gabarito]">Wind Direction: N/A°</div>
                    </div>
                </div>
            </div>
            <div class="flex-col w-auto align-items-end ml-auto">
                <div id="day" class="font-[Gabarito] font-bold text-4xl">{{ datetime.day }}</div>
                <div id="date" class="font-[Gabarito] font-bold text-4xl">{{ datetime.date }} {{ datetime.month }} {{ datetime.year }}</div>
                <div id="currentTime" class="font-[Gabarito] font-bold text-4xl">{{ datetime.current_time }}</div>
            </div>
        </div>
    </div>
    <div class="bg-white pl-10 pr-10 pt-10">
        <div class="flex w-full justify-between">
            {% if province %}
                <div class="font-[Gabarito] text-3xl font-bold">Area Recommendation for {{ province }}</div>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-col bg-white overflow-x-auto gap-5 pl-10 pr-10 pb-10 pt-5">
        {% for category, places in {"สถานที่ท่องเที่ยว": results.tourism,"โรงแรม": results.hotels,"ร้านอาหาร": results.restaurants,"วัด/ศาสนสถาน": results.temples,}.items() %}
        <h3 class="text-xl font-bold">{{ category }}</h3>
        <div class="flex w-full bg-white p-5 gap-5">
        {% if places %}
            {% for place in places %}
            <a class="flex flex-col flex-shrink-0 items-center justify-center p-5 w-80 h-100 rounded-lg shadow-md mb-3 hover:scale-105 duration-200" href="https://www.google.com/maps?q={{ place.lat }},{{ place.lon }}">
                <div class="flex font-bold text-2xl">{{ place.name }}</div>
                <div>{{ place.full_address }}</div>
                <div>{{ "%.4f"|format(place.lat) }}, {{ "%.4f"|format(place.lon) }}</div>
            </a>
            {% endfor %}
            </ul>
            {% else %}
            <p class="text-gray-600 mt-2">ไม่พบข้อมูล</p>
        {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}