{% extends 'base.html' %}

{% block header %}
<script>
    // import value from flask
    const weatherData = JSON.parse("{{ weather|safe }}".replace(/'/g, '"'));
    const province = "{{ province }}";
    // Dictionary สำหรับแปลงชื่อจังหวัดภาษาไทยเป็นอังกฤษ
    const thaiToEnglishProvince = {
    "อำนาจเจริญ": "Amnat Charoen",
    "อ่างทอง": "Ang Thong",
    "กรุงเทพมหานคร": "Bangkok",
    "บุรีรัมย์": "Buriram",
    "ฉะเชิงเทรา": "Chachoengsao",
    "ชัยนาท": "Chai Nat",
    "ชัยภูมิ": "Chaiyaphum",
    "บึงกาฬ": "Changwat Bueng Kan",
    "อุบลราชธานี": "Changwat Ubon Ratchathani",
    "จันทบุรี": "Chanthaburi",
    "เชียงใหม่": "Chiang Mai",
    "เชียงราย": "Chiang Rai",
    "ชลบุรี": "Chon Buri",
    "ชุมพร": "Chumphon",
    "กาฬสินธุ์": "Kalasin",
    "กำแพงเพชร": "Kamphaeng Phet",
    "กาญจนบุรี": "Kanchanaburi",
    "ขอนแก่น": "Khon Kaen",
    "กระบี่": "Krabi",
    "ลำปาง": "Lampang",
    "ลำพูน": "Lamphun",
    "เลย": "Loei",
    "ลพบุรี": "Lopburi",
    "แม่ฮ่องสอน": "Mae Hong Son",
    "มหาสารคาม": "Maha Sarakham",
    "มุกดาหาร": "Mukdahan",
    "นครนายก": "Nakhon Nayok",
    "นครปฐม": "Nakhon Pathom",
    "นครพนม": "Nakhon Phanom",
    "นครราชสีมา": "Nakhon Ratchasima",
    "นครสวรรค์": "Nakhon Sawan",
    "นครศรีธรรมราช": "Nakhon Si Thammarat",
    "น่าน": "Nan",
    "นราธิวาส": "Narathiwat",
    "หนองบัวลำภู": "Nong Bua Lamphu",
    "หนองคาย": "Nong Khai",
    "นนทบุรี": "Nonthaburi",
    "ปทุมธานี": "Pathum Thani",
    "ปัตตานี": "Pattani",
    "พังงา": "Phangnga",
    "พัทลุง": "Phatthalung",
    "พะเยา": "Phayao",
    "เพชรบูรณ์": "Phetchabun",
    "เพชรบุรี": "Phetchaburi",
    "พิจิตร": "Phichit",
    "พิษณุโลก": "Phitsanulok",
    "พระนครศรีอยุธยา": "Phra Nakhon Si Ayutthaya",
    "อยุธยา": "Phra Nakhon Si Ayutthaya",
    "แพร่": "Phrae",
    "ภูเก็ต": "Phuket",
    "ปราจีนบุรี": "Prachin Buri",
    "ประจวบคีรีขันธ์": "Prachuap Khiri Khan",
    "ระนอง": "Ranong",
    "ราชบุรี": "Ratchaburi",
    "ระยอง": "Rayong",
    "ร้อยเอ็ด": "Roi Et",
    "สระแก้ว": "Sa Kaeo",
    "สกลนคร": "Sakon Nakhon",
    "สมุทรปราการ": "Samut Prakan",
    "สมุทรสาคร": "Samut Sakhon",
    "สมุทรสงคราม": "Samut Songkhram",
    "สระบุรี": "Sara Buri",
    "สตูล": "Satun",
    "สิงห์บุรี": "Sing Buri",
    "ศรีสะเกษ": "Sisaket",
    "สงขลา": "Songkhla",
    "สุโขทัย": "Sukhothai",
    "สุพรรณบุรี": "Suphan Buri",
    "สุราษฎร์ธานี": "Surat Thani",
    "สุรินทร์": "Surin",
    "ตาก": "Tak",
    "ตรัง": "Trang",
    "ตราด": "Trat",
    "อุดรธานี": "Udon Thani",
    "อุทัยธานี": "Uthai Thani",
    "อุตรดิตถ์": "Uttaradit",
    "ยะลา": "Yala",
    "ยโสธร": "Yasothon"
    }
    const englishToThaiProvince = {
    "Amnat Charoen": "อำนาจเจริญ",
        "Ang Thong": "อ่างทอง",
        "Bangkok": "กรุงเทพมหานคร",
        "Buriram": "บุรีรัมย์",
        "Chachoengsao": "ฉะเชิงเทรา",
        "Chai Nat": "ชัยนาท",
        "Chaiyaphum": "ชัยภูมิ",
        "Changwat Bueng Kan": "บึงกาฬ",
        "Changwat Ubon Ratchathani": "อุบลราชธานี",
        "Chanthaburi": "จันทบุรี",
        "Chiang Mai": "เชียงใหม่",
        "Chiang Rai": "เชียงราย",
        "Chon Buri": "ชลบุรี",
        "Chumphon": "ชุมพร",
        "Kalasin": "กาฬสินธุ์",
        "Kamphaeng Phet": "กำแพงเพชร",
        "Kanchanaburi": "กาญจนบุรี",
        "Khon Kaen": "ขอนแก่น",
        "Krabi": "กระบี่",
        "Lampang": "ลำปาง",
        "Lamphun": "ลำพูน",
        "Loei": "เลย",
        "Lopburi": "ลพบุรี",
        "Mae Hong Son": "แม่ฮ่องสอน",
        "Maha Sarakham": "มหาสารคาม",
        "Mukdahan": "มุกดาหาร",
        "Nakhon Nayok": "นครนายก",
        "Nakhon Pathom": "นครปฐม",
        "Nakhon Phanom": "นครพนม",
        "Nakhon Ratchasima": "นครราชสีมา",
        "Nakhon Sawan": "นครสวรรค์",
        "Nakhon Si Thammarat": "นครศรีธรรมราช",
        "Nan": "น่าน",
        "Narathiwat": "นราธิวาส",
        "Nong Bua Lamphu": "หนองบัวลำภู",
        "Nong Khai": "หนองคาย",
        "Nonthaburi": "นนทบุรี",
        "Pathum Thani": "ปทุมธานี",
        "Pattani": "ปัตตานี",
        "Phangnga": "พังงา",
        "Phatthalung": "พัทลุง",
        "Phayao": "พะเยา",
        "Phetchabun": "เพชรบูรณ์",
        "Phetchaburi": "เพชรบุรี",
        "Phichit": "พิจิตร",
        "Phitsanulok": "พิษณุโลก",
        "Phra Nakhon Si Ayutthaya": "พระนครศรีอยุธยา",
        "Phrae": "แพร่",
        "Phuket": "ภูเก็ต",
        "Prachin Buri": "ปราจีนบุรี",
        "Prachuap Khiri Khan": "ประจวบคีรีขันธ์",
        "Ranong": "ระนอง",
        "Ratchaburi": "ราชบุรี",
        "Rayong": "ระยอง",
        "Roi Et": "ร้อยเอ็ด",
        "Sa Kaeo": "สระแก้ว",
        "Sakon Nakhon": "สกลนคร",
        "Samut Prakan": "สมุทรปราการ",
        "Samut Sakhon": "สมุทรสาคร",
        "Samut Songkhram": "สมุทรสงคราม",
        "Sara Buri": "สระบุรี",
        "Satun": "สตูล",
        "Sing Buri": "สิงห์บุรี",
        "Sisaket": "ศรีสะเกษ",
        "Songkhla": "สงขลา",
        "Sukhothai": "สุโขทัย",
        "Suphan Buri": "สุพรรณบุรี",
        "Surat Thani": "สุราษฎร์ธานี",
        "Surin": "สุรินทร์",
        "Tak": "ตาก",
        "Trang": "ตรัง",
        "Trat": "ตราด",
        "Udon Thani": "อุดรธานี",
        "Uthai Thani": "อุทัยธานี",
        "Uttaradit": "อุตรดิตถ์",
        "Yala": "ยะลา",
        "Yasothon": "ยโสธร"
    }

    function translateProvinceName(inputName) {
        if (!inputName) return inputName;
        const isThaiText = /[\u0E00-\u0E7F]/.test(inputName);
        if (isThaiText) {
            const englishName = thaiToEnglishProvince[inputName.trim()];
            if (englishName) {
                return englishName;
            } else {
                return inputName;
            }
        } else {
            return inputName;
        }
    }

    function formatDateTime() {
        const now = new Date();
        const options = {
            weekday: 'long',
            day: '2-digit',
            month: 'long',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        };

        const formatted = new Intl.DateTimeFormat('en-GB', options).format(now);
        const cleanformatted = formatted.replace(' at', ',');
        document.querySelector( "#currentTime").innerHTML = `${cleanformatted}`;
    }

        // once the page is loaded successfully
        document.addEventListener("DOMContentLoaded", function() {
            // initialize HTML classes
            const locations = document.querySelectorAll('.location');
            const weatherHeads = document.querySelectorAll('.weather-head');
            const units = document.querySelectorAll('.unit');
            const humidities = document.querySelectorAll('.humidity');
            const pressures = document.querySelectorAll('.pressure');
            const windSpeeds = document.querySelectorAll('.wind-speed');
            const windDirections = document.querySelectorAll('.wind-direction');
            const weatherIcons = document.querySelectorAll('.weather-icon');

            locations.forEach(location => {
                location.innerHTML = `${englishToThaiProvince[weatherData[province].data.city]}, ประเทศไทย`;
            });
            weatherHeads.forEach(weatherHead => {
                weatherHead.innerHTML = weatherData[province].data.current.weather.tp;
            });
            units.forEach(unit => {
                unit.innerHTML = "°C";
            });
            humidities.forEach(humidity => {
                humidity.innerHTML = `ความชื้น: ${weatherData[province].data.current.weather.hu} %`;
            });
            pressures.forEach(pressure => {     
                pressure.innerHTML = `ความกดอากาศ: ${weatherData[province].data.current.weather.pr} hPa`;
            });
            windSpeeds.forEach(windSpeed => {
                windSpeed.innerHTML = `ความเร็วลม: ${weatherData[province].data.current.weather.ws} m/s`;
            });
            windDirections.forEach(windDirection => {
                windDirection.innerHTML = `ทิศทางลม: ${weatherData[province].data.current.weather.wd}°`;
            });
            
        formatDateTime();

        // get icon value from weatherData and get icon value from ic
        // and do the if-else condition for icon selection
        const weatherStatuses = document.querySelectorAll('.weather-icon');
        const aqiuss = document.querySelectorAll('.aqius');
        const icons = document.querySelectorAll('.weather-icon');
        weatherStatus = weatherData[province].data.current.weather.ic;
        aqiuss.forEach(aqius => {
            aqius.innerHTML = `AQI: ${weatherData[province].data.current.pollution.aqius}`;
        });
        
        function defineIconSky() {
            switch (weatherStatus) {
                // for clear sky day
                case "01d":
                case "02d":
                    icons.forEach(icon => {
                        icon.src = "{{url_for('static', filename='weather/01d.png')}}";
                    });
                    break;
                // for clear sky night
                case "01n":
                case "02n":
                    icons.forEach(icon => {
                        icon.src = "{{url_for('static', filename='weather/01n.png')}}";
                    });
                    break;
                // for cloudy day
                case "02d":
                case "03d":
                case "04d":
                    icons.forEach(icon => {
                        icon.src = "{{url_for('static', filename='weather/0234d.png')}}";
                    });
                    break;
                // for cloudy night
                case "02n":
                case "03n":
                case "04n":
                    icons.forEach(icon => {
                        icon.src = "{{url_for('static', filename='weather/0234n.png')}}";
                    });
                    break;
                // for rainy day
                case "09d":
                case "10d":
                    icons.forEach(icon => {
                        icon.src = "{{url_for('static', filename='weather/910d.png')}}";
                    });
                    break;
                // for rainy night
                case "09n":
                case "10n":
                    icons.forEach(icon => {
                        icon.src = "{{url_for('static', filename='weather/910n.png')}}";
                    });
                    break;
                    // for thunderstorm
                case "11d":
                    icons.forEach(icon => {
                        icon.src = "{{url_for('static', filename='weather/11d.png')}}";
                    });
                    break;
            }
        }
        defineIconSky();
        // Add handlers for both buttons
        document.getElementById("weatherBtn").onclick = function() {
            weatherHeads.forEach(weatherHead => {
                weatherHead.innerHTML = weatherData[province].data.current.weather.tp;
            });
            units.forEach(unit => {
                unit.innerHTML = "°C";
            });
        }
    
        document.getElementById("aqiBtn").onclick = function() {
            weatherHeads.forEach(weatherHead => {
                weatherHead.innerHTML = weatherData[province].data.current.pollution.aqius;
            });
            units.forEach(unit => {
                unit.innerHTML = "AQI";
            });
        }
    });

    // ฟังก์ชันสำหรับจัดการ form submission
    function handleFormSubmit(event) {
        event.preventDefault();
        const provinceInput = document.getElementById('provinceInput');
        const inputValue = provinceInput.value.trim();
        if (!inputValue) {
            alert('กรุณาใส่ชื่อจังหวัด');
            return false;
        }
        const translatedName = translateProvinceName(inputValue);
        provinceInput.value = translatedName;
        event.target.submit();
        return true;
    }
</script>
{% endblock %}

{% block content %}
    <!-- Search bar -->
    <div class="relative w-full h-full flex flex-col text-black p-15 bg-white-500 bg-[url({{url_for('static',filename='img/sunny.jpg')}})] bg-blend-lighten bg-center bg-cover">
        <div class="flex justify-center items-center mb-4">
            <form method="POST" class="flex p-4 items-center justify-center w-150 bg-white rounded-4xl" onsubmit="handleFormSubmit(event)">
                <input id="provinceInput" name="province" value="{{ province }}" placeholder="ใส่ชื่อสถานที่..." class="w-full"/>
                <button type="submit" class="w-20">ค้นหา</button>
            </form>
        </div>
        <!-- Weather | Air Quality Button -->
        <div class="text-bold text-xl font-[Gabarito] mb-4">
            <div class="text-bold text-xl font-[Gabarito] mb-4">
                <button id="weatherBtn" type="submit" name="page" class="font-bold hover:text-white duration-200">Weather</button> |
                <button id="aqiBtn" type="submit" name="page" class="hover:text-white duration-200">Air Quality</button>
            </div>
        </div>
        <!-- Weather Data for Desktop -->
        <div class="hidden md:flex w-auto">
            <div class="flex">
                <img class="weather-icon size-48 mb-4 p-5" src="{{url_for('static',filename='img/sun.png')}}" alt="sunny">
                <div class="flex flex-col">
                    <div class="location font-[Gabarito] text-4xl font-bold">Location Not Found</div>
                    <div class="flex">
                        <div class="weather-head flex font-[Gabarito] text-6xl font-bold"></div>
                        <div class="unit font-[Gabarito] text-xl font-thin">°C</div>
                    </div>
                    <div class="flex flex-col">
                        <div class="humidity font-[Gabarito]">Humidity: N/A%</div>
                        <div class="pressure font-[Gabarito]">Pressure: N/A hPa</div>
                        <div class="wind-speed font-[Gabarito]">Wind Speed: N/A m/s</div>
                        <div class="wind-direction font-[Gabarito]">Wind Direction: N/A°</div>
                    </div>
                </div>
            </div>
            <!-- Datetime -->
            <div class="hidden md:flex flex-col w-auto align-items-end ml-auto">
                <div id="currentTime" class="font-[Gabarito] font-bold text-4xl"></div>
            </div>
        </div>
        <!-- Weather Data for Mobile -->
        <div class="flex flex-col md:hidden w-auto">
            <!-- Weather Status Icon -->
            <img class="flex weather-icon size-48 mb-4 p-5" src="{{url_for('static',filename='img/sun.png')}}" alt="sunny"></img>
            <div class="flex flex-col">
                <div class="location font-[Gabarito] text-4xl font-bold">Location Not Found</div>
                <div class="flex">
                    <div class="weather-head flex font-[Gabarito] text-6xl font-bold"></div>
                    <div class="unit font-[Gabarito] text-xl font-thin">°C</div>
                </div>
                <div class="flex flex-col">
                    <div class="humidity font-[Gabarito]">Humidity: N/A%</div>
                    <div class="pressure font-[Gabarito]">Pressure: N/A hPa</div>
                    <div class="wind-speed font-[Gabarito]">Wind Speed: N/A m/s</div>
                    <div class="wind-direction font-[Gabarito]">Wind Direction: N/A°</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex mt-10 w-full justify-center items-center flex-wrap gap-5">
        <div class="flex-col w-full h-full justify-center items-center bg-white drop-shadow-2xl rounded-lg max-w-90 p-10
    hover:shadow-2xl hover:-translate-y-4 transform transition duration-200 ease-in-out">
            <img class="flex justify-center items-center" src="{{url_for('static', filename='img/map2.png')}}" alt="Neuron Network">
            <h1 class="font-[Gabarito] text-2xl font-bold text-center">Map</h1>
            <p class="font-[Gabarito] text-center">An interactive map showing daily air quality data across Thailand, with weather information</p>
        </div>
        <div class="flex-col w-full h-full justify-center items-center bg-white drop-shadow-2xl rounded-lg max-w-90 p-10
    hover:shadow-2xl hover:-translate-y-4 transform transition duration-200 ease-in-out">
            <img class="flex justify-center items-center p-10" src="{{url_for('static', filename='img/graph.png')}}" alt="Graph Forecast">
            <h1 class="font-[Gabarito] text-2xl font-bold text-center">Accurate Forecast</h1>
            <p class="font-[Gabarito] text-center">Get detailed PM2.5 predictions for the next 2, 7 days to plan ahead <br>‎ </p>
        </div>
        <div class="flex-col w-full h-full justify-center items-center bg-white drop-shadow-2xl rounded-lg max-w-90 p-10
    hover:shadow-2xl hover:-translate-y-4 transform transition duration-200 ease-in-out">
            <img class="flex justify-center items-center p-10" src="{{url_for('static', filename='img/map1.png')}}" alt="Place Recommendation">
            <h1 class="font-[Gabarito] text-2xl font-bold text-center">Place Recommendation</h1>
            <p class="font-[Gabarito] text-center">Suggested areas with clean air for your next outdoor plan</p>
        </div>
    </div><br><br><br>
    
{% endblock %}  