{% extends 'base.html' %}

{% block header %}
    <title>Thailand Air Quality Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_ady.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="container">
        <div id="map">
        </div>
        <div id="side-popup" class="hidden"></div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
    <script src="{{ url_for('static', filename='loader.js') }}"></script>
{% endblock %}
