<html lang="th_TH">
    <head>
        <title>Airmind Sight</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="bg-white drop-shadow-2xl h-20 p-4">
            <div class="h-auto flex justify-between items-center pl-10 pr-10">
                <a href="{{url_for('index')}}">
                    <div class="h-auto w-auto flex items-center gap-3">
                        <img class="h-auto size-12" src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
                        <p class="h-auto font-[Gabarito] text-2xl font-bold">AIRMIND SIGHT</p>
                    </div>
                </a>
                <ul class="h-auto flex list-none gap-5">
                    <li class="p-2 rounded-2xl hover:text-gray-500 hover:ease-in-out duration-200"><a href="">for Business</a></li>
                    <li class="p-2 rounded-2xl hover:text-gray-500 hover:ease-in-out duration-200"><a href="">Log in</a></li>
                    <li class="p-2 rounded-2xl hover:text-gray-500 hover:ease-in-out duration-200"><a href="">Sign up</a></li>
                </ul>
            </div>
        </nav>
        <div class="relative w-full h-full flex flex-col text-black p-15 bg-white-500 bg-[url({{url_for('static',filename='img/sunny.jpg')}})] bg-blend-lighten bg-center bg-cover">
            <div class="text-bold text-xl font-[Gabarito] mb-4">
                <a href="individual-weather.html" class="hover:text-white duration-200"><b>Weather</b></a> |
                <a href="individual-air.html" class="hover:text-white duration-200">Air Quality</a>
            </div>
            <div class="flex w-auto">
                <div class="flex">
                    <img src="{{url_for('static',filename='img/sun.png')}}" alt="sunny" class="size-48 mb-4 p-5">
                    <div class="flex flex-col">
                        <div class="font-[Gabarito] text-4xl font-bold">Nakhonratchasima, Thailand</div>
                        <div class="flex font-[Gabarito] text-6xl font-bold">33<div class="font-[Gabarito] text-xl font-thin">°C</div></div> justify-center items-center 
                        <div class="flex flex-col">
                            <div class="font-[Gabarito]">Feels like: 26°C</div>
                            <div class="font-[Gabarito]">Rain Precipitation: 0%</div>
                            <div class="font-[Gabarito]">Humidity: 60%</div>
                            <div class="font-[Gabarito]">Wind Speed: 10 km/h</div>
                        </div>
                    </div>
                </div>
                <div class="flex-col w-auto align-items-end ml-auto">
                    <div class="font-[Gabarito] font-bold text-4xl">Wednesday</div>
                    <div class="font-[Gabarito] font-bold text-4xl">25 June 2025</div>
                    <div class="font-[Gabarito] font-bold text-4xl">3:22 PM</div>
                </div>
            </div>
        </div>
        <div class="bg-white p-10">
            <div class="flex w-full justify-between">
                <div class="font-[Gabarito] text-3xl font-bold">Area Recommendation</div>
                <div class="flex font-[Gabarito]">see more ></div>
            </div>
        </div>
        <div class="bg-white p-2">
            <div>
                <div class="flex gap-5 justify-center mb-10">
                    <div class="flex flex-col justify-center items-center w-1/6 h-90 p-5 bg-white rounded-lg drop-shadow-2xl hover:scale-105 duration-200">
                        <img src="{{url_for('static', filename='img/area1.jpg')}}" alt="Area 1" class="w-full h-48 object-cover rounded-lg mb-3">
                        <div class="flex flex-col justify-center items-center">
                            <div class="font-[Gabarito] text-3xl font-bold">Area 1</div>
                            <p class="font-[Gabarito]">Description of Area 1.</p>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-1/6 h-90 p-5 bg-white rounded-lg drop-shadow-2xl hover:scale-105 duration-200">
                        <img src="{{url_for('static', filename='img/area2.jpg')}}" alt="Area 2" class="w-full h-48 object-cover rounded-lg mb-3">
                        <div class="flex flex-col justify-center items-center">
                            <div class="font-[Gabarito] text-3xl font-bold">Area 2</div>
                            <p class="font-[Gabarito]">Description of Area 2.</p>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-1/6 h-90 p-5 bg-white rounded-lg drop-shadow-2xl hover:scale-105 duration-200">
                        <img src="{{url_for('static', filename='img/area3.jpg')}}" alt="Area 3" class="w-full h-48 object-cover rounded-lg mb-3">
                        <div class="flex flex-col justify-center items-center">
                            <div class="font-[Gabarito] text-3xl font-bold">Area 3</div>
                            <p class="font-[Gabarito]">Description of Area 3.</p>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-1/6 h-90 p-5 bg-white rounded-lg drop-shadow-2xl hover:scale-105 duration-200">
                        <img src="{{url_for('static', filename='img/area4.jpg')}}" alt="Area 3" class="w-full h-48 object-cover rounded-lg mb-3">
                        <div class="flex flex-col justify-center items-center">
                            <div class="font-[Gabarito] text-3xl font-bold">Area 4</div>
                            <p class="font-[Gabarito]">Description of Area 4.</p>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center w-1/6 h-90 p-5 bg-white rounded-lg drop-shadow-2xl hover:scale-105 duration-200">
                        <img src="{{url_for('static', filename='img/area5.jpg')}}" alt="Area 3" class="w-full h-48 object-cover rounded-lg mb-3">
                        <div class="flex flex-col justify-center items-center">
                            <div class="font-[Gabarito] text-3xl font-bold">Area 5</div>
                            <p class="font-[Gabarito]">Description of Area 5.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="flex pl-10 pr-10 w-full bg-white drop-shadow-2xl h-20">
            <div class="h-auto w-auto flex items-center gap-3">
                <img class="h-auto size-12" src="{{url_for('static',filename='img/logo.png')}}" alt="logo">
                <div class="flex-col">
                    <p class="h-auto font-[Gabarito] text-2xl font-bold mb-0.1">AIRMIND SIGHT</p>
                    <p class="mb-0.1">ระบบพยากรณ์อากาศและฝุ่น PM2.5 อัจฉริยะเพื่อกลยุทธ์ธุรกิจและความปลอดภัยของสังคม</p>
                </div>
            </div>
        </footer>
    </body>
</html>